@media screen and (max-width: 1220px)
  body
    font-size: 12px

@media screen and (max-width: 920px)
  .speakers,
  .headline,
  #link-speakers
    display: none

  .table
    width: 100% !important

  footer
    display: block !important
    height: auto !important

    article
      width: 100% !important

      &.info
        padding-bottom: 1em

@media screen and (max-width: 730px)
  #link-list
    display: none
